<!--
  This template loads for the 'tab.product-detail' state (app.js)
  'product' is a $scope variable created in the ProductsCtrl controller (controllers.js)
  The ProductsCtrl pulls data from the Products service (service.js)
  The Products service returns an array of product data
-->
<style>
  #thumbs {
    text-align: center;
  }

  .main-image {
    text-align: center;
  }

</style>
<ion-view title="{{product.name}}">
  <ion-content has-header="false" padding="true">

    <div class='card'>
      <div class='item item-divider'>
        <h1>{{product.name}}</h1>
        <p>{{product.master.sku}}</p>
      </div>
      <div class='item item-text-wrap' ng-click='expandDescription = !expandDescription'>
        <p ng-if='!expandDescription'>{{product.description | limitTo: 40}} <a href=''>more...</a></p>
        <p ng-if='expandDescription'>{{product.description}}</p>
      </div>
      <div class='item'>
        <button id='add-to-cart' class='button button-block button-positive' ng-click='addToCart()'>
          <span ng-hide='adding'>
            <b>Add to Cart</b> {{product.price | currency}}
          </span>
          <span ng-show='adding'>
            <i class='icon ion-loading-c'></i>
            Adding...
          </span>
        </button>
      </div>
      <div class='item'>
        <ion-slide-box auto-play='true' does-continue='true'>
          <ion-slide ng-repeat='image in product.master.images'>
            <div class='main-image'>
              <img ng-src='{{image.large_url}}'/>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>


    <h2 id='#specifications'>Specifications</h2>
    <ion-list>
      <ion-item ng-repeat='property in product.product_properties'>
        <h4>{{property.property_name}}</h4>
        <p>{{property.value}}</p>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
