<style>
  a.product-listing {
    display: block;
    width: 33%;
    float: left;
    text-align: center;
    border: solid 1px #ccc;
  }

  a.product-listing img {
    width: 100%;
  }
</style>

<ion-view title="Shop">
  <ion-content>
    <div class='row' ng-repeat='row in partitioned'>
      <a class='product-listing' ng-repeat="product in row" href="#/tab/product/{{product.slug}}">
        <div class='col'>
          <img ng-src="{{product.master.images[0].product_url}}" title="{{product.name}}"/>
        </div>
      </a>
    </div>

    <ion-infinite-scroll
      ng-if='moreAvailable'
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
