ion-view(title="Sprionic")
  ion-content.padding
    img(src='http://spreecommerce.com/images/logo.svg')

    ion-list
      ion-item
        a Search

      ion-item.item-divider Categories

      ion-item
        a T-Shirts

      ion-item
        a Bags

      ion-item
        a Mugs

      ion-item.item-divider Brands

      ion-item
        a Ruby

      ion-item
        a Rails

      ion-item
        a Spree

      ion-item
        a Apache
