ion-view(title='Account')
    ion-content.padding
        ion-list
          ion-item My Profile
          ion-item Order History
          ion-item Store Credits
          ion-item Saved Addresses
          ion-item Saved Credit Cards
          ion-item Notification Settings
          ion-item Preferences
