ion-view(title="Sprionic")
  ion-content.padding
    img(src='http://spreecommerce.com/images/logo.svg')

    ion-list
      ion-item
        a Search

      .taxonomy(ng-repeat='taxonomy in taxonomies')
        ion-item.item-divider(ng-bind='taxonomy.name')

        ion-item(ng-repeat='taxon in taxonomy.root.taxons')
          a(ng-bind='taxon.name')
