ion-tabs.tabs-icon-top.tabs-positive
  // Dashboard Tab
  ion-tab(title='Home', icon='icon ion-home', href='#/tab/dash')
    ion-nav-view(name='tab-dash')

  // Products Tab
  ion-tab(title='Shop', icon='icon ion-pricetags', href='#/tab/products')
    ion-nav-view(name='tab-products')

  // Search Tab
  ion-tab(title='Search', icon='icon ion-search', href='#/tab/search')
    ion-nav-view(name='tab-search')

  // Account Tab
  ion-tab(title='Account', icon='icon ion-gear-b', href='#/tab/account')
    ion-nav-view(name='tab-account')
